In [72]:
import pandas as pd

# Read the first dataframe
df_1 = pd.read_csv('imp/elevation.csv')

# Read the second dataframe containing Lat and Lon values
df_2 = pd.read_csv('imp/population.csv')

# Merge the first dataframe with the unique Lat and Lon values from the second dataframe
merged_df = pd.merge(df_1, df_2, on=['Lat', 'Lon'], how='inner')

# Display the resulting dataframe with matching Lat and Lon values
sorted_df_20= merged_df.sort_values(by=['Lat', 'Lon'])
sorted_df_20

         Lat    Lon    Elevation     population
0       6.50  80.00   116.337776   63306.895000
1       6.50  80.25   232.412220  366117.970000
2       6.50  80.50   535.642200  126783.125000
3       6.50  80.75   375.093320  221919.300000
4       6.50  81.00   190.690000  168211.750000
...      ...    ...          ...            ...
10214  38.25  96.25  4228.190000       7.181426
10215  38.25  99.00  4112.995600     642.062800
10216  38.25  99.25  3957.613300    2053.934000
10217  38.25  99.50  3770.752200    1426.888800
10218  38.25  99.75  3603.311000    1316.351600

[10219 rows x 4 columns]

In [73]:
df1=sorted_df_20

In [92]:
df2 = pd.read_csv("imp/combined_final_top10_new.csv")

In [95]:
df2= df2.drop(df2.columns[:2], axis=1)

In [96]:
df2

,Lat,Lon,Date,cloudcover,humidity,soilmoisture,windspeed,rain,tasmax,tasmin,NDVI,forestcoverfraction,fire_count
0,10.25,77.25,20030101,0.579855,83.673650,NaN,NaN,NaN,33.208282,18.722599,NaN,31.0,NaN
1,10.25,77.25,20030102,0.605533,69.676360,NaN,1.044690,0.0,31.626244,18.583063,0.0946,31.0,NaN
2,10.25,77.25,20030103,0.694949,72.783530,NaN,1.040268,0.0,31.950735,17.944530,0.0462,31.0,NaN
3,10.25,77.25,20030104,0.366328,77.834076,NaN,1.049907,0.0,31.014029,18.741327,0.1659,31.0,NaN
4,10.25,77.25,20030105,0.859846,77.611070,NaN,1.163584,0.0,32.393350,18.505852,0.1649,31.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2229259,31.00,78.25,20181227,0.102352,47.822304,234.78502,0.947152,0.0,14.563469,-3.801418,-0.0156,35.0,NaN
2229260,31.00,78.25,20181228,0.000000,14.426570,234.27240,0.964201,0.0,14.542650,-3.481650,-0.0122,35.0,NaN
2229261,31.00,78.25,20181229,0.000000,14.795282,233.72198,0.918568,0.0,15.025419,-3.268472,0.0022,35.0,NaN
2229262,31.00,78.25,20181230,0.136460,14.918191,233.15959,0.923369,0.0,14.740917,-2.961571,-0.0036,35.0,NaN
2229263,31.00,78.25,20181231,0.098611,42.629246,232.56720,0.939249,0.0,15.869710,-2.102399,-0.0050,35.0,NaN

In [97]:
# Merge the first dataframe with the unique Lat and Lon values from the second dataframe
merged_df = pd.merge(df1, df2, on=['Lat', 'Lon'], how='inner')

# Display the resulting dataframe with matching Lat and Lon values
sorted_df_30= merged_df.sort_values(by=['Lat', 'Lon'])
sorted_df_30.to_csv('final10.csv', header=True)

In [82]:
data=sorted_df_30

In [83]:
df_clean = data.dropna()
# Sample 50 random rows
random_sample = df_clean
random_sample = random_sample.reset_index(drop=True)
print("done")

done

In [84]:
random_sample

,Lat,Lon,Elevation,population,Date,cloudcover,humidity,soilmoisture,windspeed,rain,tasmax,tasmin,NDVI,forestcoverfraction,fire_count
0,9.0,77.00,527.6445,750325.4,20030207,0.419859,63.893105,242.20135,2.698278,0.000000,28.000830,23.490944,0.4105,32.0,1.0
1,9.0,77.00,527.6445,750325.4,20030214,0.482837,82.190094,240.61018,2.892992,0.000000,33.037650,25.672903,0.1458,32.0,1.0
2,9.0,77.00,527.6445,750325.4,20030219,0.097984,61.145073,238.31366,1.965971,0.000000,32.075780,25.674175,0.4217,32.0,2.0
3,9.0,77.00,527.6445,750325.4,20030223,0.584601,72.095340,236.52402,3.534288,0.000000,31.121796,24.367561,0.5080,32.0,6.0
4,9.0,77.00,527.6445,750325.4,20030309,0.266192,69.869680,239.43787,3.795473,0.000000,30.877623,25.008846,0.4295,32.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160283,33.5,73.75,1056.2644,146416.6,20160606,0.121625,19.177212,276.59210,2.164842,0.000000,39.387337,24.005995,0.5173,12.0,7.0
160284,33.5,73.75,1056.2644,146416.6,20160608,0.072445,28.085365,276.81186,1.625519,3.267600,38.065740,24.070621,0.3363,12.0,5.0
160285,33.5,73.75,1056.2644,146416.6,20160608,0.072445,28.085365,276.81186,1.625519,3.267600,38.065740,24.070621,0.3363,12.0,5.0
160286,33.5,73.75,1056.2644,146416.6,20160612,0.227193,42.515636,278.61157,1.338224,0.559256,36.421280,24.079342,0.0840,12.0,1.0
160287,33.5,73.75,1056.2644,146416.6,20160612,0.227193,42.515636,278.61157,1.338224,0.559256,36.421280,24.079342,0.0840,12.0,1.0

In [85]:
random_sample = random_sample.drop(['Lat','Lon','Date'], axis=1)

In [86]:
random_sample

,Elevation,population,cloudcover,humidity,soilmoisture,windspeed,rain,tasmax,tasmin,NDVI,forestcoverfraction,fire_count
0,527.6445,750325.4,0.419859,63.893105,242.20135,2.698278,0.000000,28.000830,23.490944,0.4105,32.0,1.0
1,527.6445,750325.4,0.482837,82.190094,240.61018,2.892992,0.000000,33.037650,25.672903,0.1458,32.0,1.0
2,527.6445,750325.4,0.097984,61.145073,238.31366,1.965971,0.000000,32.075780,25.674175,0.4217,32.0,2.0
3,527.6445,750325.4,0.584601,72.095340,236.52402,3.534288,0.000000,31.121796,24.367561,0.5080,32.0,6.0
4,527.6445,750325.4,0.266192,69.869680,239.43787,3.795473,0.000000,30.877623,25.008846,0.4295,32.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
160283,1056.2644,146416.6,0.121625,19.177212,276.59210,2.164842,0.000000,39.387337,24.005995,0.5173,12.0,7.0
160284,1056.2644,146416.6,0.072445,28.085365,276.81186,1.625519,3.267600,38.065740,24.070621,0.3363,12.0,5.0
160285,1056.2644,146416.6,0.072445,28.085365,276.81186,1.625519,3.267600,38.065740,24.070621,0.3363,12.0,5.0
160286,1056.2644,146416.6,0.227193,42.515636,278.61157,1.338224,0.559256,36.421280,24.079342,0.0840,12.0,1.0
160287,1056.2644,146416.6,0.227193,42.515636,278.61157,1.338224,0.559256,36.421280,24.079342,0.0840,12.0,1.0

In [87]:
columns = random_sample.columns.tolist()
if 'fire_count' in columns:
    columns.remove('fire_count')
    columns.append('fire_count')
    df_aa = random_sample[columns]